cloud_id                 = "b1g058ud8qk"
folder_id                = "b1gfri61dsg"
image_id                 = "fd8mne8jtin"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "e9bo29j6f"
service_account_key_file = "/home/alex/secret/terraform_key.json"
count_num                = 1
app_disk_image           = "fd8u5s0aj3"
db_disk_image            = "fd85e6lk3l"
